body {
    font-family: 'Arial', sans-serif;
    background-color: #ffebee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #e91e63;
}

.box {
    margin-top: 20px;
}

button, a {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

#yesButton {
    background-color: #e91e63;
    color: white;
}

#noButton {
    background-color: #f44336;
    color: white;
}

#yesButton:hover {
    background-color: #c2185b;
}

img {
    margin-top: 20px;
    border-radius: 10px;
    max-width: 100%;
}

footer {
    color: gray;
    font-size: x-small;
    text-align: center;
    margin-top: 20px;
}